# dependencies
node_modules/

# build files
build/
dist/

# environment variables
.env
.env.local
.env.development
.env.production

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# coverage
coverage/

# optional
*.log